################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Final2018/.vs/Final2018/v15/Server/sqlite3/db.lock
